# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/
playwright-report/
test-results/

# next.js
.next/
out/

# production
build/
dist/

# env
.env
.env.*
!.env.example

# vercel
.vercel/

# supabase
.branches/
.temp/
supabase/.branches/
supabase/.temp/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system
.DS_Store
Thumbs.db

# editor
.idea/
.vscode/
*.swp
